nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 5px auto;
  }
  .logo{
 width: 100px;
  }
  .menu i {
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 10px;
  }